In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[1]').appName('read.csv').getOrCreate()

In [3]:
df = (
    spark
    .read
    .csv('d:\\sample\\test-csv')
)

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [5]:
df.show()

+----+------+------+
| _c0|   _c1|   _c2|
+----+------+------+
|name| class|  city|
|Jane| first|Canada|
|John|second|   USA|
+----+------+------+

In [8]:
df = (
    spark
    .read
    .option('header', True)
    .csv('d:\\sample\\test-csv')
)

In [9]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- class: string (nullable = true)
 |-- city: string (nullable = true)

In [10]:
df.show()

+----+------+------+
|name| class|  city|
+----+------+------+
|Jane| first|Canada|
|John|second|   USA|
+----+------+------+

In [11]:
spark.sparkContext.stop()

In [ ]:
# End of the notebook